.column{
  max-width: 400px;
  margin: 50px auto;
  border-radius: 5px;
  box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
}

.item {
    min-height: 70px;
    display: flex;
    align-items: center;
    border-bottom: 1px solid #f1f1f1;
    text-align: center;
    font-size: 25px;
    width: 100%;
  }
  input[type="checkbox"] {
    display: flex;
    margin: 10px;
    color: white;
    border-radius: 5px;
    box-shadow: 5px 5px 15px -5px rgba(0, 0, 0, 0.3);
  }
  .active{
    margin-left: 15px;
  }
  .btnDelete{
    margin-left: 20px;
    border: none;
    background: none;
    color: white;
  }
 
  